@import 'src/style/__mixins.scss';
@import 'src/style/__variables.scss';

.login-page {
  @include flex-center;
  background: url('/public/assets/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    padding: 50px;
    width: 350px;
    height: 400px;

    .input {
      border: solid 1px $grey;
      border-radius: 2px;
      outline: none;

      &.invalid {
        border-color: $bright-red;
      }

      &.empty {
        border-color: $dark-orange;
      }
    }

    .empty-warning {
      color: $dark-orange;
    }
  }
}
